.game-board{
  height:800px;
  width:950px;
  margin:auto;
  padding: 0;
  outline:2px solid #000;
  border: none;
  font-size: 0;
}

.tile{
  width: 50px;
  height: 50px;
  margin:0;
  padding:0;
  border:none;
  outline:1px solid rgb(39, 156, 23);
  display:inline-block;
}

.tile-space {
  background-color: white;
 
}



.tile-wall {
  background-color: rgba(66, 109, 41, 0.8);

}

.entity-block {
  background-color: rgba(40, 24, 160, 0.8);
}

.tile-goal {
  background-color: rgb(17, 168, 238);
}


.entity-player{
  background-color: rgb(238, 17, 61);
  
}

.entity-block-goal{
  background-color: aqua;

}